.ProfilePage {
  padding: 40px 0;
  min-height: 100%;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.loader {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

