.ProfileCard {
  max-width: 1000px;
  width: 100%;
}

.headerProfile {
  background: mediumpurple;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  height: 250px;

  &:hover {
    .selectHeader {
      opacity: 1;
    }
  }
}

.selectHeader {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0;
  transition: .2s;
}

.headerBottom {
  position: relative;
  width: inherit;
  padding: 20px;
  display: flex;
  top: -25px;
  z-index: 2;
  border-radius: 15px;
  height: 110px;
  background: var(--secondary-bg-color);
}

.avatarWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -80px;
  background: var(--secondary-bg-color);
  z-index: 3;
  margin-right: 20px;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: var(--bg-color);
  z-index: 3;
}

.info {
  width: 80%;
}

.username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.description {
  display: flex;
  align-items: center;
}

.item {
  margin-right: 20px;
  color: var(--secondary-color);
}

.error {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 450px;
}

.detailInfo {
  height: 40px;
  border-bottom: 1px solid var(--secondary-color);
}

.id {
  margin: 20px 0;
  height: 40px;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);

}

.itemModal {
  margin-bottom: 15px;
}

.age {
  margin: 0 10px 0 50px;
}

.city {
  margin: 0 10px 0 0;
}

.hometown {
  margin: 0 10px 0 10px;
}

.btnForm {
  display: flex;
  justify-content: space-between;
}

.btnEdit {
  width: 100%;
  margin-left: 5px;
}

.btnCancel {
  margin-right: 5px;
  width: 100%;
}
